* {
  font-family: arial;
}

fieldset {
  border: 1px solid black;
  margin: 0px;
  padding: 1rem;
  margin-bottom: 1rem;
}
label {
  display: block;
}

.honeypot-field {
  display: none;
}

.form-elements {
  border: 1px solid black;
}

li {
  margin-bottom: 1em;
}

.Timestamp {
  display: none;
}

img {
  width: 30px;
  cursor: pointer;
}

.hover-message {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: none;
}